.no-image img {
  width: 50%;
}

.event-card {
  margin: 1rem;
  display: flex;
  width: 100%;
  font-size: small;

  .event-thumbnail {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 90%;
  }

  .event-name {
    margin: 5px 0;
  }

  .event-details {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .event-category {
    border: 1px gray solid;
    width: min-content;
    padding: 2px 4px;
  }

  .event-date {
    font-size: small;
  }

  .event-location {
    font-size: small;
  }

  .event-comments {
    font-size: small;
  }

  .event-likes {
    font-size: small;
  }
}
