@use "./colors";

.no-image img {
  width: 50%;
}

.event-card {
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  font-size: small;
  gap: 10px;

  .event-thumbnail {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .event-name {
    margin: 0;
    font-size: 16px;
  }

  .event-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .event-category {
    border: 1px colors.$dark-gray solid;
    border-radius: 5px;
    color: colors.$dark-gray;
    width: min-content;
    padding: 2px 4px;
  }

  .event-date {
    font-size: small;
  }

  .event-location {
    font-size: small;
  }

  .event-comments {
    font-size: small;
  }

  .event-likes {
    font-size: small;
  }
}
