@use "colors";
@use "./font";
.home {
  width: 100%;
}
.nav-wrapper {
  display: flex;
  overflow: hidden;
  width: 95%;
  margin: auto;

  .nav-logo {
    width: 70%;
    display: flex;
    align-items: center;
    img {
      width: 80%;
    }
  }

  .icons-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;

    .icon {
      margin: 0 0.5rem;
      color: colors.$dark-grey;
    }
  }
}

.search-section {
  width: 90%;
  margin: auto;
  font-family: font.$text;

  .search-by-words {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    input {
      width: 85%;
      height: 20px;
      padding: 6px;
      padding-left: 10px;
      background-color: colors.$light-grey;
      border: none;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    .icon {
      font-size: 27px;
      color: colors.$dark-grey;
    }
  }

  .search-by-location {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    input {
      width: 87%;
      border: transparent;
      border-bottom: 1px solid colors.$light-grey;
      padding: 5px;

      &:focus {
        outline: none;
      }
    }

    .icon {
      font-size: 23px;
      color: colors.$dark-grey;
      transform: translateX(-15px);
    }
  }
}

.category-slider {
  width: 90%;
  margin: auto;
  overflow: scroll;

  .slider-items {
    list-style-type: none;
    display: flex;
    gap: 55px;
    // overflow: scroll;
    padding-left: 0px;
    font-weight: 600;
    font-size: 15px;
    font-family: font.$text;

    input {
      display: none;
    }
  }
}

// Modal
.modal-account {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  font-size: 1.2rem;

  .user-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid colors.$light-grey;
    margin-bottom: 1rem;

    .account-icon {
      color: colors.$dark-grey;
    }

    h5 {
      text-align: center;
      margin-top: 0.5rem;
      font-family: font.$text;
    }
  }
  .close-modal {
    margin-left: auto;
    margin-top: 15px;
    color: colors.$dark-grey;
  }
  .list-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font.$sub-heading;
  }
  .row {
    width: 80%;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 2.2rem;
      color: colors.$navy;
    }
  }
}

.category-title {
  font-family: font.$sub-heading;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}
