.event-card {
  padding: 10px;
  display: flex;
  width: 100%;

  .event-thumbnail {
    width: 40%;
  }

  .event-details {
    display: flex;
    flex-direction: column;
  }

  .event-category {
    border: 1px gray solid;
    width: min-content;
    padding: 2px 4px;
  }

  .event-date {
    font-size: small;
  }

  .event-location {
    font-size: small;
  }

  .event-comments {
    font-size: small;
  }

  .event-likes {
    font-size: small;
  }
}

//  --- Utility classes

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
