//  --- Utility classes
@use "./css/colors";

.html {
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}
// icon
.left-arrow {
  font-size: 2.2rem;
  border: none;
  background-color: white;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

.animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: white;

  .animation-logo {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 20%;
    animation-name: animation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}


// @keyframes animation {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

@keyframes animation {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }
}


